:root {
  /* Base colors */
  --teal: 187 100%;
  --gold: 47 98%;

  /* Core */
  --teal-prim: hsl(var(--teal) 20% / 100%);
  --gold-prim: hsl(var(--gold) 55% / 100%);

  /* Shades */
  --teal-dark: hsl(var(--teal) 10% / 100%);
  --gold-dark: hsl(var(--gold) 42% / 100%);
  --teal-black: hsl(var(--teal) 8% / 100%);
  --gold-black: hsl(var(--gold) 12% / 100%);

  --teal-light: hsl(var(--teal) 30% / 100%);
  --gold-light: hsl(var(--gold) 65% / 100%);
  --teal-white: hsl(var(--teal) 97% / 100%);
  --gold-white: hsl(var(--gold) 92% / 100%);

  /* Alpha */
  --teal-85: hsl(var(--teal) 30% / 85%);
  --teal-60: hsl(var(--teal) 30% / 60%);
  --teal-40: hsl(var(--teal) 30% / 40%);
  --teal-20: hsl(var(--teal) 30% / 20%);

  --gold-85: hsl(var(--gold) 55% / 85%);
  --gold-60: hsl(var(--gold) 55% / 60%);
  --gold-40: hsl(var(--gold) 55% / 40%);
  --gold-20: hsl(var(--gold) 55% / 20%);
}

body {
  margin: 0;
}

.Navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--teal-prim);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.4rem;
  padding: 0.5rem 0.8rem;
}

.NavbarIcon {
  background-color: var(--teal-prim);
  flex: 1;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 0.5rem;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}

.NavbarIcon > svg {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  color: var(--teal-white);
  background-color: var(--teal-20);
  border-radius: 0.5rem;
  transition: 0.12s ease-in-out all;
}

.NavbarIconActive > svg,
.NavbarIcon:active,
.NavbarIcon:active > svg:active {
  color: var(--gold-prim);
  background-color: var(--gold-20);
  transition: 0.12s ease-in-out all;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background-color: var(--teal-prim);
  color: var(--teal-white);
}

.HeaderLogo {
  /* background-color: red; */
}

.HeaderText {
  /* background-color: gray; */
}

.HomeMain {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--teal-white);
}

.HomeNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 2rem 0;
  width: 100dvw;
  height: max-content;
}

.HomeNavIcon {
  background-color: var(--teal-85);
  width: 90%;
  flex: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--teal-white);
  text-decoration: none;
  font-weight: 600;
  padding: 3rem 0;
  transition: 0.12s ease-in-out all;

  -webkit-tap-highlight-color: transparent;
}

.HomeNavIcon:active {
  background-color: var(--gold-85);
  color: var(--gold-black);
}
