:root {
  /* Base colors */
  --teal: 187 100%;
  --gold: 47 98%;

  /* Core */
  --teal-prim: hsl(var(--teal) 20% / 100%);
  --gold-prim: hsl(var(--gold) 55% / 100%);

  /* Shades */
  --teal-dark: hsl(var(--teal) 10% / 100%);
  --gold-dark: hsl(var(--gold) 42% / 100%);

  --teal-light: hsl(var(--teal) 30% / 100%);
  --gold-light: hsl(var(--gold) 65% / 100%);

  /* Alpha */
  --teal-85: hsl(var(--teal) 10% / 85%);
  --teal-60: hsl(var(--teal) 10% / 60%);
  --teal-40: hsl(var(--teal) 10% / 40%);
  --teal-20: hsl(var(--teal) 10% / 20%);

  --gold-85: hsl(var(--gold) 55% / 85%);
  --gold-60: hsl(var(--gold) 55% / 60%);
  --gold-40: hsl(var(--gold) 55% / 40%);
  --gold-20: hsl(var(--gold) 55% / 20%);
}
